/*Your styles*/

body {
    margin: 10px;
}

div.content-child {
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    vertical-align: middle;
    width: 100%;
}

span.label {
    width: 100%;
}

#content {
    margin-right: auto;
    margin-left: auto;
    vertical-align: middle;
    width: 100%;
}

#btn-call-es {
    width: 100%;
}

#reload {
    margin-top: 10px;
}

#input-url, #input-range {
    margin-left: 1px;
    margin-right: 1px;
    margin-top: 4px;
    padding: 2px;
    width: 96%;
}



/*
Those classes will be edited at runtime with values specified
by the settings of the CC application
*/
.hostFontColor{}
.hostFontFamily{}
.hostFontSize{}

/*font family, color and size*/
.hostFont{}
/*background color*/
.hostBgd{}
/*lighter background color*/
.hostBgdLight{}
/*darker background color*/
.hostBgdDark{}
/*background color and font*/
.hostElt{}


.hostButton{
    border:1px solid;
    border-radius:2px;
    height:20px;
    vertical-align:bottom;
    font-family:inherit;
    color:inherit;
    font-size:inherit;
}